body, textarea, a {
  font-family: "Montserrat", "verdana", sans-serif;
  color: #eeedec;
}

a, header, footer, textarea, .button, button {
  color:#040b17;
}

a {
  text-decoration: none;
}

.button {
  font-family: "Nunito Sans", "Montserrat", sans-serif;
  text-transform: uppercase;
}

h1, .new-releases h2, .news h3 {
  font-size: 1.8rem;
}

.contact-info a, footer h3 {
  font-size: 1.3em;
  font-weight: bold;
}

select, option, textarea, input {
  font-size: 1rem;
}

.active {
  font-weight: 600;
}

.search-bar {
  font-size: 1.2rem;
  font-style: italic;
}