body, textarea {
  font-family: "Montserrat", "verdana", sans-serif;
  color: #eeedec;
}

a, header, footer, textarea {
  text-decoration: none;
  color:#040b17;
}

h1 {
  font-size: 1.8rem;
  margin: 20px 0 50px 0;
}

.contact-info a, h3 {
  font-size: 1.3em;
  font-weight: bold;
}

select, option, textarea, input {
  font-size: 1rem;
}

.button, button {
  color: #040b17;
  text-transform: uppercase;
  font-family: "Nunito Sans", "Montserrat", sans-serif;
}

.active {
  font-weight: 600;
}

.search-bar {
  font-size: 1.2rem;
  font-style: italic;
}